*{
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
h1{
    font-weight: 700;
}
button{
    outline: none;
}

.toast{
    position: absolute;
    bottom: 5px;
    left: 10px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .toast {
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}